.layout-config-button {
    display: block;
    position: fixed;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    background: var(--primary-color);
    color: var(--primary-color-text);
    text-align: center;
    top: 50%;
    right: 0;
    margin-top: -1.5rem;
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transition: background-color var(--transition-duration);
    overflow: hidden;
    cursor: pointer;
    z-index: 999;
    box-shadow: -.25rem 0 1rem rgba(0,0,0,.15);

    i {
        font-size: 2rem;
        line-height: inherit;
        transform: rotate(0deg);
        transition: transform 1s;
    }
    
    &:hover {
        background: var(--primary-400);
    }
}

.layout-config-sidebar {
    &.p-sidebar {
        .p-sidebar-content {
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }
}
/* Tùy chỉnh biểu tượng sortable cho tất cả các Column */
.p-column-sortable .p-sortable-column .p-sortable-column-icon {
    font-size: 18px; /* Thay đổi kích thước icon sortable */
    color: red; /* Thay đổi màu sắc icon sortable */
}

/* Tùy chỉnh biểu tượng filter cho tất cả các Column */
.p-column-filter .p-column-filter-icon {
    font-size: 18px; /* Thay đổi kích thước icon filter */
    color: blue; /* Thay đổi màu sắc icon filter */
}

/* Tùy chỉnh biểu tượng sortable cho Column có class custom-column */
.custom-column .p-sortable-column .p-sortable-column-icon {
    font-size: 20px; /* Thay đổi kích thước icon sortable */
    color: green; /* Thay đổi màu sắc icon sortable */
}

/* Tùy chỉnh biểu tượng filter cho Column có class custom-column */
.custom-column .p-column-filter .p-column-filter-icon {
    font-size: 20px; /* Thay đổi kích thước icon filter */
    color: orange; /* Thay đổi màu sắc icon filter */
}

/* globalStyles.css */
.p-datatable .p-column-header .p-sortable-column .p-sortable-header-icon {
    color: white !important; /* Change icon color to white */
    font-size: 1.5rem !important;; /* Increase icon size */
}

.p-datatable .p-column-header .p-column-filter-icon {
    color: white !important; /* Change filter icon color to white */
    font-size: 1.5rem !important;; /* Increase filter icon size */
}


